@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Merriweather-Regular.ttf")
}

@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/Merriweather-Bold.ttf")
}

:root {
    --blue: aqua;
    --blue-hover: rgb(8, 219, 219);
    --main-color: #191919;
    --second-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  font-family: "Merriweather";  
}

main {
    flex-grow: 1;
}

.btn {
    display: inline-block;
    color: var(--main-color);
    transition: all .2s linear;
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    transform: translate(-4px, -4px);
}

.label {
    display: flex;
    gap: 16px;
    font-size: 14px;
}

.input {
    border-radius: 8px;
    padding: 12px 16px;
    border: 1px solid var(--main-color);
    outline: none;
}

.blue {
    color: var(--blue);
}

.header {
    background-color: var(--blue);
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1440px;
}

ul {
    list-style-type: none;
}

.header__logo {
    width: 160px;
}

.header__contant {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__nav-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.header__nav {
    flex-grow: 1;
}

.header__actions {
    gap: 10px;
    display: flex;
    align-items: center;
}



.footer {
    padding: 20px 0;
    color: var(--second-color);
    background-color: var(--main-color);
}

.footer__logo {
    width: 130px;
}

.footer__contant {
    display: flex;
    gap: 30px;
    align-items: center;
}

.footer__nav {
    flex-grow: 1;
}

.footer__nav-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.footer__nav-link {
    color: var(--second-color);
}

.ws svg {
    width: 30px;
    height: 30px;
}

.ws svg path {
    fill: var(--second-color);
    transition: fill .5s;
}

.ws:active svg path {
    fill: var(--blue);
}

.yt svg {
   height: 38px;
   width: 38px;
}

.yt svg path {
    stroke: var(--second-color);
    transition: stroke .5s;
}

.yt:active svg path {
    stroke: var(--blue);
}

.inst svg {
    width: 30px;
    height: 30px;
}

.inst svg path {
    fill: var(--second-color);
    transition: fill .5s;
}

.inst:active svg path {
    fill: var(--blue);
}

.fc svg {
    width: 30px;
    height: 30px;
}

.fc svg path {
    fill: var(--second-color);
    transition: fill .5s;
}

.fc:active svg path {
    fill: var(--blue);
}

.games {
    background-color: var(--main-color);
    padding: 40px 0;
}

.games__title {
    color: var(--second-color);
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.game-card__preview {
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}

.game-card__sticker {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: var(--second-color);
    color: var(--main-color);
    font-size: 10px;
    border-radius: 20px;
    padding: 4px 8px;
    font-weight: 700;
}

.game-card__preview img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.games__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.game-card__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    color: var(--second-color);
    transition: color .4s;
}

.games__link {
    text-decoration: none;
}

.games__link:hover .game-card__title {
   color: var(--blue);
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal__card {
    padding: 20px;
    background-color: var(--second-color);
    border-radius: 16px;
}

.modal__title {
    color: var(--main-color);
    font-size: 18px;
    margin-bottom: 24px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal__btn {
    border-radius: 8px;
    padding: 12px 16px;
    background-color: var(--blue);
    color: var(--second-color);
    border: none;
    outline: none;
    transition: background-color .4s;
    cursor: pointer;
}

.modal__btn:hover {
    background-color: var(--blue-hover);
}

.form__link {
    color: var(--blue);
    border: none;
    outline: none;
    text-decoration: none;
    transition: color .3s;
}

.form__link:hover {
    color: var(--blue-hover);
} 
