@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Merriweather-Regular.ttf")
}

@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/Merriweather-Bold.ttf")
}

:root {
    --blue: aqua;
    --main-color: #191919;
    --second-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  font-family: "Merriweather";  
}

main {
    flex-grow: 1;
}

.btn {
    display: inline-block;
    color: var(--main-color);
    transition: all .2s linear;
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    transform: translate(-4px, -4px);
}

.header {
    background-color: var(--blue);
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1440px;
}

ul {
    list-style-type: none;
}

.header__logo {
    width: 160px;
}

.header__contant {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__nav-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.header__nav {
    flex-grow: 1;
}

.header__actions {
    gap: 10px;
    display: flex;
    align-items: center;
}



.footer {
    padding: 20px 0;
    color: var(--second-color);
    background-color: var(--main-color);
}

.footer__logo {
    width: 130px;
}

.footer__contant {
    display: flex;
    gap: 30px;
    align-items: center;
}

.footer__nav {
    flex-grow: 1;
}

.footer__nav-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.footer__nav-link {
    color: var(--second-color);
}

.footer__social-link svg {
    width: 30px;
    height: 30px;
}

.footer__social-link svg path {
    fill: var(--second-color);
}


